/* Algemene Navbar Stijlen */
.navbar {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  z-index: 1000;
}

.navbar .logo {
  margin: 0 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #6fd8d7;
}

/* Hamburger icon */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: white;
}

/* Responsieve stijlen voor kleinere schermen */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      padding: 10px 20px;
  }

  .navbar ul {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      display: none;
  }

  .navbar.active ul {
      display: flex;
  }

  .navbar .logo {
      margin-bottom: 10px;
  }

  .hamburger {
      display: block;
  }
}

/* Extra responsieve stijlen voor zeer kleine schermen */
@media (max-width: 480px) {
  .navbar ul {
      gap: 5px;
  }

  .navbar .logo {
      width: 60px;
  }
}
